@import url("/install/mod1/M1/area/top.css");

p {
    font-family: verdana;
    font-size: 20px;
    background-color: rgb(176, 230, 173);
}

/*
    /Users/kimneo/PJ-Git/auto/task/m1/out/area/top.css

    /Users/kimneo/PJ-Git/auto/task/m1/src/inc/left.css

*/